In [1]:
#1 List five Python keywords and describe what they do.
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
#true= a boolean value. if statement is true it is executed
#if= to make conditional statement
#import= used to import libraries, modules and packages
#none= represent no value or 0 value
#and= logical operator in python

In [5]:
#2 Write an expression to calculate the area of a rectangle with a length of 5 and width of 10.
l=5
w=10
ar=l*w
ar

50

In [11]:
#3 Use the `is` keyword to check if two variables point to the same object.
a='apple'
b='banana'
if a is b:
    print('same value')
else:
    print('not same')

not same

In [13]:
#4 Write a Python expression that combines addition, subtraction, multiplication, and division.
a=1
b=2
c=6
d=4
e=3
a+b*(c-d)/e

2.333333333333333

In [17]:
#5 What is the output of `10 % 3`? Explain why.
a=10%3 #gives remainder
print(float(a))

1.0

In [19]:
#6 Check the type of the value `3.14` in Python.
type(3.14)

float

In [35]:
#7 Convert the integer `10` to a float and a string. Print the results.
a=int(10)
b=float(a)
c=str(b)
print('a=', a, type(a))
print('b=', b, type(b))
print('c=', c, type(c))

a= 10 <class 'int'>
b= 10.0 <class 'float'>
c= 10.0 <class 'str'>

In [39]:
#8 Write a statement to add two strings and print the result.
a='hello! '
b='How are you?'
a+b

'hello! How are you?'

In [45]:
#9 What data type would the result of `3 > 2` be?
print(3>2)
type(3>2)

True

bool

In [47]:
#10 How can you convert a string "123" into an integer?

a=int(input('ENTER VALUE: '))
type(a)

ENTER VALUE:  123

int

In [49]:
#11 Create a list of 5 elements and print the third element.
lst=[33,4,65,324,1]
lst[2]

65

In [51]:
#12 Add a new element to a list called `my_list` using the `.append()` method.
my_list=['apple','mango','banana','grapes']
my_list.append('pear')
my_list

['apple', 'mango', 'banana', 'grapes', 'pear']

In [53]:
#13 Remove the last element from a list `my_list` using the `.pop()` method.
my_list.pop()
my_list

['apple', 'mango', 'banana', 'grapes']

In [57]:
#14 Create a tuple with four elements and try changing the second element. What happens?
tup=(34,35,37,39)
tup[2]=47
tup #tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [61]:
#15 Use slicing to get the last two elements from a list `[10, 20, 30, 40, 50]`.
li=[10, 20, 30, 40, 50]
li[3:]

[40, 50]

In [63]:
#16 Create a dictionary with keys 'name' and 'age' and values 'Alice' and 25.
dictionary={'name':'Alice','age':25}
dictionary

{'name': 'Alice', 'age': 25}

In [73]:
#17 Retrieve the value associated with the key 'name' from the dictionary you created in question 16.
dictionary['name']

'Alice'

In [105]:
#18 Check if the key 'name' exists in a dictionary
dictionary={'name':'Alice','age':25}
if 'name' in dictionary:
   print('exists')

exists

In [107]:
#19 What is the difference between a list and a set in Python?

#list: (1)uses square brackets (2)can have duplicate values (3)duplicate values can be added to list
#set: (1) uses curly brackets (2) removes duplicate values. contains unique values only (3)duplicate values cannot be added to list

In [121]:
#20 Convert a list `[1, 2, 3, 2, 1]` into a set and print the result.
lst=[1, 2, 3, 2, 1]
make_set=set(lst)
make_set

{1, 2, 3}

In [125]:
#21 Write an `if` statement that prints 'Greater than 10' if a number is greater than 10.
num=int(input('Enter a number: '))
if num>10:
    print(num, 'is greater than 10')

Enter a number:  12

12 is greater than 10

In [127]:
#22 Write an `if-else` statement that checks if a number is positive or negative.
num=int(input('Enter a number: '))
if num>=0:
    print(num, 'is positive')
else:
    print(num, 'is negative')

Enter a number:  3

3 is positive

In [129]:
#23 Write an `if-elif-else` statement that checks if a number is positive, negative, or zero.
num=int(input('Enter a number: '))
if num>0:
    print(num, 'is positive')
elif num==0:
    print(num, 'is zero')
else:
    print(num, 'is negative')

Enter a number:  -41

-41 is negative

In [131]:
#24 Create a Python program that takes an integer as input and prints 'Even' if it is even and 'Odd' if it is odd.
num=int(input('Enter a number: '))
if (num%2==0):
    print(num, 'is even')
else:
    print(num, 'is odd')

Enter a number:  3

3 is odd

In [149]:
#25 Write a program that checks if a given year is a leap year.
year_days=365
if (year_days==366):
    print('is leap year')
else:
    print('is not leap year')

is not leap year

In [151]:
#26 Use a nested `if` statement to check if a number is positive and even.
num=int(input('Enter a number: '))
if (num>0):
   if (num%2==0):
      print(num, 'is positve and even')
   else:
      print(num, 'is  positive and odd')
else:
   if (num%2==0):
      print(num, 'is negative and even')
   else:
      print(num, 'is  negative and odd')

Enter a number:  45

45 is  positive and odd

In [153]:
#27 Write a program to check if a variable `x` is between 5 and 10
x=int(input('Enter a number: '))
if x>5 and x<10:
    print(x, 'is between 5 and 10')

Enter a number:  6

6 is between 5 and 10

In [169]:
#28 Write an `if` statement that checks if a variable is a specific data type
a=10
if (type(a)==int):
    print("The variable is an integer.")
else:
    print("The variable is not an integer.")

The variable is an integer.

In [171]:
#29  Write a program that prints 'Pass' if a student's grade is 60 or higher, otherwise 'Fail'
grade=65
if(grade>60):
    if(grade>90):
        print('pass with a grade')
    elif(grade>70):
        print('pass with b grade')
    else:
        print('pass')
else:
    print('fail')

pass

In [203]:
#30 Write an `if` statement that prints a message if a variable is empty.
x= ""
if not x:
    print('variable is empty')

variable is empty

In [207]:
#31 Use a `for` loop and `range()` to print numbers from 1 to 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [217]:
#32  Write a `for` loop that calculates the sum of all numbers from 1 to 20.
sum=0
for i in range(1,21):
    sum+=i
print(sum)

210

In [229]:
#33 Use a `for` loop to iterate over a list of names and print each name
my_list=['apple','mango','banana','grapes']
for i in my_list:
    print(i)

apple
mango
banana
grapes

In [221]:
#34 Write a program to print the squares of numbers from 1 to 10 using a `for` loop.
for i in range(1,11):
 print('Square of', i, '=', i**2)

Square of 1 = 1
Square of 2 = 4
Square of 3 = 9
Square of 4 = 16
Square of 5 = 25
Square of 6 = 36
Square of 7 = 49
Square of 8 = 64
Square of 9 = 81
Square of 10 = 100

In [223]:
#35 Use a `for` loop and `range()` to print all even numbers from 1 to 20.
for i in range(1,21):
    if i%2==0:
      print(i, 'is even')

2 is even
4 is even
6 is even
8 is even
10 is even
12 is even
14 is even
16 is even
18 is even
20 is even

In [253]:
#36 Write a program that counts down from 10 to 1 using a `for` loop.
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [255]:
#37 Create a list of fruits and use a `for` loop to print each fruit in uppercase.
my_list=['apple','mango','banana','grapes']
for i in my_list:
    print(i.upper())

APPLE
MANGO
BANANA
GRAPES

In [279]:
#38 Write a `for` loop that prints the elements in a list along with their index.
my_list = ["apple", "banana", "cherry", "date"]
for i in range(len(my_list))
    print("Index", i, ":", my_list[i])

Index 0 : apple
Index 1 : banana
Index 2 : cherry
Index 3 : date

In [281]:
#39 Use `range()` with three arguments to print every third number from 0 to 30.
for i in range(0,31,3):
    print(i)

0
3
6
9
12
15
18
21
24
27
30

In [291]:
#40  Write a program to calculate the factorial of a number using a `for` loop.
fact=1
num=int(input('Enter number: '))
for i in range(1,num+1):
    fact*=i
print('factorial of', num, '=', fact)

Enter number:  5

factorial of 5 = 120

In [293]:
#41 Use a `while` loop to print numbers from 1 to 5.
num=0
while num<6:
    print(num)
    num+=1

0
1
2
3
4
5

In [1]:
#42 Write a program that keeps asking the user for a password until they enter '1234'
while True:
    password = input("Enter the password: ")
    if password == "1234":
        print("Access granted.")
        break
    else:
        print("Incorrect password. Try again.")

Enter the password:  123

Incorrect password. Try again.

Enter the password:  1234

Access granted.

In [7]:
#43 Write a `while` loop to find the sum of numbers from 1 to 100.
t_sum=0
num=1
while num<=100:
    t_sum+=num
    num+=1
print(t_sum)

5050

In [9]:
#44 Use a `while` loop to print the numbers in reverse from 10 to 1.
num=10
while num>0:
    print(num)
    num-=1

10
9
8
7
6
5
4
3
2
1

In [1]:
#45 Write a `while` loop that prints only even numbers between 1 and 20
num=1
while num<21:
    if (num%2==0):
        print(num)
    num+=1

2
4
6
8
10
12
14
16
18
20

In [3]:
#46 Create a `while` loop that stops once a number exceeds 100.
num=90
while num<100:
    print(num)
    num+=1

90
91
92
93
94
95
96
97
98
99

In [9]:
#47 Write a `while` loop that repeatedly removes the last element from a list until it's empty
lst=[1,2,3,4,5,6,7,8,9,10]
while lst:
    lst.pop()
    print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3]
[1, 2]
[1]
[]

In [21]:
#48 Create a countdown timer that counts down from 10 to 1 using `while`
num=10
while num>0:
    print(num)
    num-=1

10
9
8
7
6
5
4
3
2
1

In [23]:
#49 Write a program that finds the first 10 multiples of 5 using a `while` loop
count = 1
multiple = 5

while count <= 10:
    print(multiple * count)
    count += 1

5
10
15
20
25
30
35
40
45
50

In [7]:
#50 Use a `while` loop to generate a list of the first 10 Fibonacci numbers.
fibonacci_numbers = []
n1, n2 = 0, 1
count = 0
series_len=int(input('enter length of series: '))
               
while count < series_len:
    fibonacci_numbers.append(n1)
    n1, n2 = n2, n1 + n2
    count += 1

print(fibonacci_numbers)

enter length of series:  11

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]