In [1]:
#1. Write a Python program to evaluate the expression `5 + 3 * 2` and print the result.

print(5 + 3 * 2)

11

In [3]:
#2. Write a program that calculates the result of `2 ** 3 + 5`.

print(2 ** 3 + 5)

13

In [5]:
#3. Create a program that calculates the result of the expression `(10 - 3) * (2 +4)`.

print((10 - 3) * (2 +4))

42

In [11]:
#4. Write a program that calculates `15 // 4` and prints the result.

print(15 // 4) #gives the quotient

3

In [13]:
#5. Write a Python code to find the remainder when dividing 15 by 4 (`15 % 4`).

print(15 % 4) #gives remainder

3

In [15]:
#6. Create a variable `x` and assign it the value 42. Print its type using `type()`.

x=42
print(type(x))

<class 'int'>

In [60]:
#7. Create a list `fruits = ['apple', 'banana', 'cherry']`. Print the type of this list.
fruits = ['apple', 'banana', 'cherry']
print(type(fruits))

<class 'list'>

In [62]:
#8. Create a variable `is_active = True`. Print the type of the variable
is_active = True
type(is_active)

bool

In [64]:
#9. Create a variable `price = 3.14`. Print its type.
price = 3.14
type(price)

float

In [66]:
#10. Write a program to print the type of the string `'Hello World'`.
string='Hello World'

In [68]:
#11. Create a list of your 3 favorite fruits and print it.

list_fav_fruits=['strawberry','mango','pomegranate']
list_fav_fruits

['strawberry', 'mango', 'pomegranate']

In [70]:
#12. Convert a tuple `('apple', 'banana', 'cherry')` into a list. Print the new list.
tup_fruits=('apple', 'banana', 'cherry')
list_fruits=list(tup_fruits)
list_fruits

['apple', 'banana', 'cherry']

In [72]:
#13. Create a list `my_list = [10, 20, 30]`. Access and print the first element of the list.
my_list = [10, 20, 30]
my_list[0]

10

In [74]:
#14. Find the length of the list `[10, 20, 30]` and print it.
my_list = [10, 20, 30]
print(len(my_list))

3

In [78]:
#15. Add the element `40` to the list `my_list = [10, 20, 30]` and print the updated list.
my_list = [10, 20, 30]
my_list.append(40)
my_list

[10, 20, 30, 40]

In [80]:
#16. Write a `for` loop to print numbers from 1 to 5.
for i in range(1,6):
    print(i)

1
2
3
4
5

In [82]:
#17. Write a `for` loop that prints numbers from 3 to 5.
for i in range(3,6):
    print(i)

3
4
5

In [84]:
#18. Write a `for` loop to iterate over a list `['apple', 'banana', 'cherry']` and print each element
fruits=['apple', 'banana', 'cherry']
for i in fruits:
    print(i)

apple
banana
cherry

In [94]:
#19. Write a `for` loop to print the squares of numbers from 1 to 4.
for i in range(1,5):
    print(i,'^2','=',i*i)

1 ^2 = 1
2 ^2 = 4
3 ^2 = 9
4 ^2 = 16

In [102]:
#20. Write a `for` loop that prints `i * 2` for `i` in the range of 5.
for i in range(1,6):
    print(i,'X 2','=',i*2)

1 X 2 = 2
2 X 2 = 4
3 X 2 = 6
4 X 2 = 8
5 X 2 = 10

In [104]:
#21. Write a `while` loop that prints numbers from 1 to 5
n=1
while n<=5:
    print(n)
    n+=1

1
2
3
4
5

In [106]:
#22. Create a `while` loop that prints the numbers from 0 to 3
n=0
while n<=3:
    print(n)
    n+=1

0
1
2
3

In [112]:
#23. Write a `while` loop that calculates and prints the sum of numbers from 1 to 10.
n=1
sum=0
while n<=10:
    sum+=n
    n+=1
print(sum)

55

In [118]:
#24. Create a `while` loop that multiplies numbers from 1 to 4 and prints the result.
n=1
product=1
while n<=4:
    product*=n
    n+=1
print(product)

24

In [120]:
#25. Write a `while` loop that prints numbers from 10 to 1, decrementing by 1 each time.
n=10
while n>0:
    print(n)
    n-=1

10
9
8
7
6
5
4
3
2
1

In [124]:
#26. Write a program that checks if a number is positive, negative, or zero.
num=int(input('Enter a number: '))
if num>0:
        print('Number is positive')
elif (num==0):
        print('Number is zero')
else:
        print('Number is negative')

Enter a number:  -4

Number is negative

In [126]:
#27. Write a program that checks if a number is even or odd using `if-else`.
num=int(input('Enter a number: '))
if num%2==0:
        print('Number is even')
else:
        print('Number is odd')

Enter a number:  478

Number is even

In [128]:
#28. Write a program that checks if a number is greater than 10 and prints 'Greater', otherwise prints 'Smaller'.
num=int(input('Enter a number: '))
if num>10:
        print('Number is greater than 10')
else:
        print('Number is smaller than 10')

Enter a number:  -4

Number is smaller than 10

In [130]:
#29. Write a program that prints the grade based on a score: A (90-100), B (70-89), C (50-69), and D (0-49).
num=int(input('Enter a number: '))
if num<=100 and num>=90:
        print('You got A grade')
elif num<90 and num>=70:
        print('You got B grade')
elif num<70 and num>=50:
        print('You got C grade')
else:
        print('You got D grade')

Enter a number:  87

You got B grade

In [132]:
#30. Write a program that checks if a number is divisible by 5 and prints 'Divisible' or 'Not Divisible'.
num=int(input('Enter a number: '))
if num%5==0:
        print('Number is divisible by 5')
else:
        print('Number is not divisible by 5')

Enter a number:  35

Number is divisible by 5

In [144]:
#31. Write a function `add_numbers(a, b)` that returns the sum of two numbers.
def add_numbers(a, b):
    return(a+b)

add_numbers(5, 94)

99

In [158]:
#32. Write a function that takes a string as input and prints it in reverse order.

def reverse_string(string):
    return string[::-1] #using slicing method

reverse_string('hello world')

'dlrow olleh'

In [166]:
#33. Write a function that returns the maximum of three numbers.

def max_value(a,b,c):
    if a>b and a>c:
        print('a is largest')
    elif b>a and b>c:
        print('b is largest')
    else:
        print('c is largest')

max_value(213,5,44)

a is largest

In [5]:
#34. Write a function that calculates the factorial of a number using a loop.
num=int(input('Enter a number: '))
fact=1
i=1
while i<=num:
     fact*=i
     i+=1
print(fact)

Enter a number:  5

120

In [7]:
#35. Write a function `multiply(a, b)` that returns the product of two numbers and prints the result.
def multiply(a, b):
    return(a*b)

multiply(40, 22)

880

In [21]:
#36. Write a lambda function that adds two numbers and prints the result.
add_num= lambda a,b:a+b
print(add_num(5,7))

12

In [29]:
#37. Use a lambda function to square a number and print the result.
sqr= lambda a:a*a
print(sqr(4))

16

In [31]:
#38. Write a lambda function to find the cube of a number and call it with the value `3`.
cube= lambda a:a**3
print(cube(3))

27

In [69]:
#39. Write a lambda function that filters even numbers from the list `[1, 2, 3, 4, 5, 6]`. 
lst=[1, 2, 3, 4, 5, 6]
even_num=filter(lambda a:a%2==0, range(0,i+1))
print(*even_num)

0 2 4 6

In [81]:
#40. Write a lambda function to check if a number is positive and return `True` or `False`.
positive=lambda x:x>0 

print(positive(4))
print(positive(-5))
print(positive(0))

True
False
False

In [89]:
#41. Write a program that multiplies each number in the list `[1, 2, 3, 4]` by 2 using `map()`.
lst=[1, 2, 3, 4]
double_lst = list(map(lambda x: x * 2, lst))
print(double_lst)

[2, 4, 6, 8]

In [91]:
#42. Use `map()` to square each number in the list `[1, 2, 3, 4, 5]` and print the result.
lst = [1, 2, 3, 4, 5]
squared_lst = list(map(lambda x: x ** 2, lst))

print(squared_lst)

[1, 4, 9, 16, 25]

In [95]:
#43. Write a program that uses `map()` to convert a list of strings `['1', '2', '3']` into a list of integers.
strings=['1', '2', '3']
strings_to_lst=list(map(lambda x:int(x), strings))

print(strings_to_lst)

[1, 2, 3]

In [99]:
#44. Use `map()` to calculate the square of each element in the list `[1, 4, 9, 16]` and print the result.
lst=[1, 4, 9, 16]
double_lst = list(map(lambda x: x ** 2, lst))
print(double_lst)

[1, 16, 81, 256]

In [107]:
#45. Write a program that uses `map()` to capitalize each word in the list `['hello', 'world']`.
uppercase=lambda x:x.upper()

print(uppercase('hello'))
print(uppercase('world'))

HELLO
WORLD

In [125]:
#46. Write a program that uses `filter()` to get only the even numbers from the list `[1, 2, 3, 4, 5, 6]`.
lst=[1, 2, 3, 4, 5, 6]
even_num=filter(lambda a:a%2==0, range(0,i+2))
print(*even_num)

0 2 4 6

In [135]:
#47. Write a program that filters numbers greater than 3 from the list `[1, 2, 3, 4, 5]` using `filter()`.
lst=[1, 2, 3, 4, 5]
new_lst=list(filter(lambda x:x>3,lst))
new_lst

[4, 5]

In [139]:
#48. Use `filter()` to get all names longer than 3 characters from the list `['Tom', 'Jack', 'Bob', 'Alice']`.
lst=['Tom', 'Jack', 'Bob', 'Alice']
new_lst=list(filter(lambda x:len(x)>3,lst))

print(*new_lst)

Jack Alice

In [141]:
#49. Write a program that filters out negative numbers from the list `[-1, -2, 3, 4, -5]`.
lst=[-1, -2, 3, 4, -5]
negatives=list(filter(lambda x:x<0,lst))

print(*negatives)

-1 -2 -5

In [145]:
#50. Use `filter()` to find all numbers divisible by 3 from the list `[1, 2, 3, 4, 5, 6]`.
lst=[1, 2, 3, 4, 5, 6]
numbers=list(filter(lambda x:x%3==0,lst))

print(*numbers)

3 6

In [147]:
#51. Write a program that prints numbers from 1 to 5, but breaks the loop when it reaches 3.
for i in range(1,6):
    print(i)
    if i==3:
        break

1
2
3

In [153]:
#52. Write a program that prints numbers from 1 to 5, but skips 3 using `continue`.
for i in range(1,6):
    if i==3:
        continue
    print(i)

1
2
4
5

In [157]:
#53. Write a program that prints numbers from 1 to 5, but stops when the number is greater than 4 using `break`.
for i in range(1,6):
    if i>4:
        break
    print(i)

1
2
3
4

In [3]:
#54. Write a program that prints all the even numbers from 1 to 10, using `continue` to skip odd numbers.
for i in range(1,11):
    if i%2==1:
        continue
    print(i)

2
4
6
8
10

In [7]:
#55. Create a loop that breaks when a negative number is encountered in the list `[1, 2, 3, -1, 4]`.
lst=[1, 2, 3, -1, 4]
for i in lst:
    if i<0:
        break
    print(i)

1
2
3

In [9]:
#56. Write a program that uses `enumerate()` to print the index and value of each element in the list `['apple', 'banana', 'cherry']`.
fruits=['apple', 'banana', 'cherry']
for i in enumerate(fruits):
    print(i)

(0, 'apple')
(1, 'banana')
(2, 'cherry')

In [39]:
#57. Write a program to unzip the list of tuples `[(1, 'a'), (2, 'b'), (3, 'c')]` into two separate lists.
tup_list=[(1, 'a'), (2, 'b'), (3, 'c')]
tup1,tup2=list(zip(*tup_list))
print('tuple:',tup1,',','list:',list(tup1))
print('tuple:',tup2,',','list:',list(tup2))

tuple: (1, 2, 3) , list: [1, 2, 3]
tuple: ('a', 'b', 'c') , list: ['a', 'b', 'c']

In [43]:
#58. Write a program that zips two lists `['apple', 'banana']` and `[1, 2]` and prints the result.
list1=['apple', 'banana']
list2=[1, 2]
list_fruits=list(zip(list1,list2))
list_fruits

[('apple', 1), ('banana', 2)]

In [61]:
#59. Write a program to find the sum of corresponding elements in two lists `a = [1, 2, 3]` and `b = [4, 5, 6]` using `zip()`.
a = [1, 2, 3]
b = [4, 5, 6]
list_sum=[i+j for i,j in zip(a,b)]
list_sum

[5, 7, 9]

In [65]:
#60. Use `enumerate()` to loop over a list of names and print each name with its index.
names=['prachi','sakshi','pooja','poonam','ayushi']
for i in enumerate(names):
    print(i)

(0, 'prachi')
(1, 'sakshi')
(2, 'pooja')
(3, 'poonam')
(4, 'ayushi')