In [3]:
#1
rad=7
area=2*3.14*rad
print(area)

43.96

In [5]:
#2
a=2*3+4
print(a)

10

In [9]:
#3
a=(8/2)+3+2
print(a)

9.0

In [17]:
#4
rem=15%4
print(rem)

3.0

In [19]:
#5
f=100
c=(f-32)*5/9
print(c)

37.77777777777778

In [23]:
#6
10 // 3 + 2 ** 3

11

In [25]:
#7
5 == 5 and 4 < 6 #both the expressions are true

True

In [27]:
#8
not (4 > 5 or 3 == 3) #atleast one is true but 'not' changes it to opposite

False

In [35]:
#9
x=3
if(x%2==1):
    print("x is odd")
else:
    print("x is even")

x is odd

In [37]:
#10
type(5.0)

float

In [47]:
#11
a=str('42')
type(a)

str

In [51]:
#12
a=str(3.14) + ' is pi' 
print(a)
print(type(a))

3.14 is pi
<class 'str'>

In [53]:
#13
4 + 3.5

7.5

In [55]:
#14
a=input('enter a number: ')
b=str(a)
print(a)
print(type(a))

enter a number:  3

3
<class 'str'>

In [63]:
#15
roll_number=21
print(type(roll_number))
name1='aradhya'
print(type(name1))

<class 'int'>
<class 'str'>

In [65]:
#16
my_name='ishika'
type(my_name)

str

In [67]:
#17
lst=[]
type(lst)

list

In [69]:
#18
lst=[1,2,3]
lst.append(42)
lst

[1, 2, 3, 42]

In [73]:
#19
my_list = [10, 20, 30, 40]
my_list[2] #index 2 is third element

30

In [83]:
#20
tup=('a','b','c','d') #tuple has round brackets///tuples are immutable
print(type(tup))
lst=['a','b','c','d'] #list has square brackets///lists are mutable
print(type(lst))

<class 'tuple'>
<class 'list'>

In [81]:
#21
num=set()
num.add(1)
num.add(2)
num.add(3)
num

{1, 2, 3}

In [85]:
#22
num.remove(2)
num

{1, 3}

In [93]:
#23
person = {'name': 'Alice','age': 25}
person['name']

'Alice'

In [95]:
#24
person = {'name': 'Alice','age': 25, 'salary': 40000}
person.pop('salary')
person

{'name': 'Alice', 'age': 25}

In [99]:
#25
my_tuple = (5, 10, 15)
my_tuple[1] #using index

10

In [101]:
#26
numbers = [1, 2, 3, 4, 5]
len(numbers)

5

In [117]:
#27
numbers[2] + 33
numbers

66

In [119]:
#28
lst= [4, 1, 3, 2]
lst.sort()
lst

[1, 2, 3, 4]

In [239]:
#29
lst=[1, 2, 3, 4, 5]
for i in range(0,5):
    if(lst[i]==5):
        print('5 is in list')

5 is in list

In [145]:
#30
lst1=[1, 2, 3] 
lst2=[4, 5, 6]
lst3=lst1+lst2
lst3

[1, 2, 3, 4, 5, 6]

In [159]:
#31
x=91
if (x>-1):
    print('positive')

positive

In [157]:
#32
x=-91
if (x>0):
    print('positive and greater than 0')
else:
    print('negative')

negative

In [163]:
#33
x=0
if (x>0):
    print('positive and greater than 0')
elif(x==0):
    print('x is zero')
else:
    print('negative')

x is zero

In [259]:
#34
x=6
result = 10 if x > 5 else 5
result

10

In [173]:
#35
x=94
if (x>=90):
    print('a grade')
else:
    print('below a grade')

a grade

In [177]:
#36
fruits = ['apple', 'banana', 'cherry'] 
for x in fruits:
  if(x=='banana'):
    print('it is present in list')

it is present in list

In [189]:
#37
gender='male'
age=23
if(age>18):
    if(gender=='male'):
        print('adult male')
    else:
        print('adult female')
else:
    print('not adult')

adult male

In [199]:
#38
num=15
if (num%3==0):
    if(num%5==0):
        print('divible by both 3 and 5')
    else:
        print('divisible by 3')
else:
    print('divisible by 5')

divible by both 3 and 5

In [223]:
#39
name=''
size=len(name)
if(size==0):
    print('name is not provided')
else:
    print('name is provided')

name is not provided

In [233]:
#40
age=20
if (age>17 and age<26):
   print("age is between range")
else:
    print("age is not in range")

age is between range