In [1]:
rolln_dic={'RN1':'anjali','subjects':['maths','science','arts'],'score':[70,78,50]}
rolln_dic

{'RN1': 'anjali',
 'subjects': ['maths', 'science', 'arts'],
 'score': [70, 78, 50]}

In [5]:
rolln_dic.items()

dict_items([('RN1', 'anjali'), ('subjects', ['maths', 'science', 'arts']), ('score', [70, 78, 50])])

In [ ]:
#branching(if,elif,else) based on some conditions

In [20]:
a=121
if a<234:
    print('a is smaller than given number')
else:
    print('a is greater than given number')

a is smaller than given number

In [22]:
#another way to write if else statement
print('a is greater') if a>234 else print('a is smaller')

a is smaller

In [28]:
score1=47
score2=57

if(score1+score2)>180:
    print("YOU PASSED WITH A GRADE!!")
else:
    a_grade=180-(score1+score2)
    print("You need ", a_grade ," more to score A Grade")

You need  76  more to score A Grade

In [34]:
num1=51
num2=21
num3=41

if num1>num2 and num3<num1:
    print("both condition are true")
else:
    print("both are wrong")

both condition are true

In [36]:
num1=51
num2=21
num3=91

if num1>num2 or num3<num1:
    print("atleast one condition is true")
else:
    print("both are wrong")

atleast one condition is true

In [138]:
salary=4000

if salary>=4000:
    if salary>=5000:
        print(salary, 'distinction')
    else:
        print(salary, 'first class')
        
elif salary>=3000 and salary<4000:
    print(salary, 'second division')

elif salary>=1000 and salary<3000:
    print(salary, 'average')
    
else:
   print(salary, 'below average')

4000 first class

In [166]:
girl=30
boy=30
if girl>boy:
    print("girl is ",girl ,"years old and older than boy")
elif boy==girl:
    print("boy and girl are same age")
else:
    print("boy is ", boy, "years old and older than girl")

boy and girl are same age

In [ ]:
#range, loop, break, continue statement

In [42]:
#range=can generate sequence of numbers
#if range(!0)= generates numbers from 0-9
#define starting number and end of range and step size(EG: jump 2 numbers from 2-->4)

In [57]:
print(range(20))

range(0, 20)

In [61]:
#convert range of numbers into lsit
print(list(range(20)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [63]:
#range with step size 2
print(list(range(2,15,2)))

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
#store range in a variable

In [69]:
roll_call=list(range(1,51,1))
roll_call

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [75]:
#reverse range by starting with last number
reverse_range=list(range(50,0,-1))
reverse_range

[50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1]

In [77]:
#loop=repeat a set of statments(EG: print 1-1000 with range function)
#2 types of loop: 1)FOR LOOP 2)WHILE LOOP
#loop iterate through a sequence like list, tuple or string
#loop continues until we reach last number/item in sequence

In [85]:
states=["Delhi","Mumbai","Goa","UP","Rajasthan"]
states

['Delhi', 'Mumbai', 'Goa', 'UP', 'Rajasthan']

In [89]:
for names in states:
    print(names)

Delhi
Mumbai
Goa
UP
Rajasthan

In [91]:
#apple loop for numbers
marks=[60,70,54,89,93,95,91,34,66,72,20]
marks

[60, 70, 54, 89, 93, 95, 91, 34, 66, 72, 20]

In [93]:
for i in marks:
    print(i)

60
70
54
89
93
95
91
34
66
72
20

In [168]:
pop_age=[0,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100,105]

In [170]:
for age in pop_age:
    if age>=50:
        if age>=90:
           print(age, 'TOO OLD')
        else:
           print(age, 'You are reaching old age :( ')
    elif age>=30 and age<50:
        print(age, 'you have got work to do and family to take care of!')
    elif age>=20 and age<30:
        print(age, 'Enjoy you youth. You have time for higher studies and job search. Relax!')
    elif age>=13 and age<20:
        print(age, 'welcome to teenage')
    else:
        print(age, 'you are too young')

0 you are too young
10 you are too young
15 welcome to teenage
20 Enjoy you youth. You have time for higher studies and job search. Relax!
25 Enjoy you youth. You have time for higher studies and job search. Relax!
30 you have got work to do and family to take care of!
35 you have got work to do and family to take care of!
40 you have got work to do and family to take care of!
45 you have got work to do and family to take care of!
50 You are reaching old age :(
55 You are reaching old age :(
60 You are reaching old age :(
65 You are reaching old age :(
70 You are reaching old age :(
75 You are reaching old age :(
80 You are reaching old age :(
85 You are reaching old age :(
90 TOO OLD
95 TOO OLD
100 TOO OLD
105 TOO OLD

In [ ]:
#list comprehension=shorter syntax when you want to create list based on the values of exisiting list

In [180]:
#create list
pop_ages=[10,10,15,20,20,20,25,30,35,40,45,50,55,60,65,65,65,65,70,70,75,80,85,90,95,100,105]

In [182]:
#use list comprehension
ages=[val for val in pop_ages if val==65]
ages

[65, 65, 65, 65]

In [ ]:
#FOR loop with else
#A FOR loop have an optional ELSE block which is also executed when the items in the sequence used in FOR loop exhaust
#Break statement can be used to stop a FOR loop ,in such case the ELSE part is ignored

In [ ]:
#Print multiplication table with for loop with else.

In [188]:
for num in range(2,5):
    print('multiplication table for' ,num, ":")
    for i in range(1,10):
        print(num*i)
        if i==9:
            print("\n")
else:
    print("*" *30)
    print("multiplication for 2-5 is done")
    print("*" *30)

multiplication table for 2 :
2
4
6
8
10
12
14
16
18


multiplication table for 3 :
3
6
9
12
15
18
21
24
27


multiplication table for 4 :
4
8
12
16
20
24
28
32
36


******************************
multiplication for 2-5 is done
******************************