### Data Mining

In [1]:
#Data Cleaning (IMP Part of Pandas)

In [3]:
import pandas as pd
import numpy as np

In [7]:
val1=np.array([1,np.nan,7,18])

In [15]:
#Notice that numpy prefered a native floating point type this array this means that unlike the object array supports fast operations 
#pushed into compiled code you should be aware that Nan is a bit like data virus it infect any other object it touches.
#Regardless of the operation, the result of arithmetic with Nan will be another Nan

In [13]:
6 + np.nan # Its mean we dont add any number with nan

nan

In [17]:
7 * np.nan # Its its also not Multiply with nan

nan

In [19]:
#Numpy does provide some special aggregations that will ignore these missing values

In [21]:
val1

array([ 1., nan,  7., 18.])

In [23]:
np.nansum(val1) #Look here we add all data

np.float64(26.0)

In [25]:
#Keep in mind that Nan is specifically a floating point value , there is no equivalent Nan value for integers, String, or other types

### Nan and None in Pandas

In [28]:
#Nan and None both have their place ,and Pandas is built to Handle the two of them nearly interchangeably , converting between them where appropriate.

In [30]:
pd.Series([1,np.nan,2,None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

### Operating on Null Values

In [33]:
#As we have seen, Pandas treats None and Nan as essentially interchangeable for indicating Missing or null values .To facilitate this convention , there are several usefull methods for deleting , removing,and replacing null values in pandas data structure .That are->

In [35]:
# 1-isnull():Generate a boolean mask indicating missing values
# 2-notnull():Opposite of isnull()
# 3-dropna():Return a copy of the data with missing values filled or inputed
# 4-fillna():Return a copy of the data with missing values filled or inputed

In [37]:
#We will conclude this section with a breif exploration and demonstration of these routines

In [39]:
#Create DataFrame with Missing Values

In [41]:
raw_data={'first_name':['Jason',np.nan,'Tina','Jake','Amy','Madhu'],
         'last_name':['Miller',np.nan,'Ali','Milner','Cooze','Patil'],
         'age':[42,np.nan,36,24,73,25],
         'sex':['M',np.nan,'F','M','F','F'],
         'unit-1':[4,np.nan,np.nan,2,3,4],
         'unit-2':[3,np.nan,np.nan,4,4,4]}
df=pd.DataFrame(raw_data,columns=['first_name','last_name','age','sex','unit-1','unit-2'])