In [1]:
import pandas as pd
import numpy as np

In [3]:
#First we have to CREATE one python funtion because we use the code later

In [41]:
def pay_raise(x):
    if x>4000:
        #raise x amount but (34% or 0.34) of x
        return np.ceil(x+(x*.34))
    else:
        return np.ceil(x+(x*.12))

In [13]:
pay_info=pd.DataFrame({'Dept':[1,2,3,4,5,6,7,8,9,10],
                'Emp_Name':['Ramesh','Shanti','Vikas','Sajid','Gauri','Rita','tuntun','Rohina','Yana','Garish'],
                'Pay':[4994,5455,6166,4044,3433,2922,6466,7877,6766,5155]})

NameError: name 'pd' is not defined

In [35]:
print(pay_info)

   Dept Emp_Name   Pay
0     1   Ramesh  4994
1     2   Shanti  5455
2     3    Vikas  6166
3     4    Sajid  4044
4     5    Gauri  3433
5     6     Rita  2922
6     7   tuntun  6466
7     8   Rohina  7877
8     9     Yana  6766
9    10   Garish  5155

In [37]:
#Lets add new column name in old dataframe

In [45]:
pay_info['New Pay']=pay_info['Pay'].apply(pay_raise)

In [47]:
print(pay_info)

   Dept Emp_Name   Pay  New Pay
0     1   Ramesh  4994   6692.0
1     2   Shanti  5455   7310.0
2     3    Vikas  6166   8263.0
3     4    Sajid  4044   5419.0
4     5    Gauri  3433   3845.0
5     6     Rita  2922   3273.0
6     7   tuntun  6466   8665.0
7     8   Rohina  7877  10556.0
8     9     Yana  6766   9067.0
9    10   Garish  5155   6908.0

In [1]:
#lets add new column . Length of name

In [15]:
pay_info['Name_Length']=pay_info['Emp_Name'].apply(len)
pay_info

NameError: name 'pay_info' is not defined

In [17]:
#Lets know about how to use lambda function in our DataFrmae

In [20]:

df['sqrt']=df['New Salary'].apply(lambda x:np.sqrt(x))

NameError: name 'df' is not defined

In [22]:
df

NameError: name 'df' is not defined

In [24]:
#Print Minimum and Maximum of the column 'New_Salary' are:

In [26]:
print("Min and Max of the column 'New Salary' are  : ",df['New Salary'].min()    ,  df['New Salary'].max())

NameError: name 'df' is not defined